fastapi
uvicorn
langchain-groq
langchain-google-genai
langchain-core
langgraph

composio-langchain>=0.11.0
composio-core>=0.7.21
composio-client>=1.27.0
composio>=0.11.0
httpx
beautifulsoup4
fake-useragent
pypdf
python-docx
python-dotenv
pydantic
fpdf2
markdown[extra]
pillow
python-multipart
google-genai>=1.0.0
openai>=1.0.0
